
<div class="rounded border border-2 bg-light  p-4 m-4">
  <div class="text-center">
    <label class="form-label mb-2 mt-2 form-label-xlg">Error 500 - Server Error! <br> We're sorry about that! Please visit our 
    <a class="link-dark" href="../">homepage</a> or use the links in the menu above.</label>
  </div>
</div>